@model IEnumerable<WebApplication8.Models.BlogPost>

@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3 style="text-align:center;">EditBlog</h3>

<table class="table" style="background:#fff">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>                  
            <th>
                @Html.DisplayNameFor(model => model.datePublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlugUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var N = 1;
        }
@foreach (var item in Model) {           
        <tr>
            <td>
                    @N
            </td>
            <td>
                    @{
                        var Title = item.Title.Substring(0, 50);
                    }
                    @Html.DisplayFor(modelItem => Title)
            </td>            
            <td>
                   
                    @Html.DisplayFor(modelItem => item.datePublish)
            </td>
            <td>
                    @{/*
                    var SlugUrl = item.SlugUrl.Substring(0, 10);*/
                    }
                    @Html.DisplayFor(modelItem => item.SlugUrl)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Editblogs","Admin" , new {r=@ViewBag.Number, id= item.Id  }) |
                    @Html.ActionLink("Delete", "Delete","Blog", new { r=@ViewBag.Number, id= item.Id  })
            </td>
        </tr>
        N++;
}
    </tbody>
</table>
