@model IEnumerable<WebApplication8.Models.ContactForm>


@{
    ViewData["Title"] = "FormData";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["heading"] = "Contact Form";
}

<p style="border:1px solid green ; border-radius:2px 2px 2px 2px;width:10vw;padding:0.5vw;background:#fff;text-align:center;display:inline-block">
    <a>@Html.ActionLink("Patners Form","PatnerwithUs","Admin",new{r=@ViewBag.Number})</a>
</p>

<p style="border:1px solid green ; border-radius:2px 2px 2px 2px;width:10vw;padding:0.5vw;background:#fff;text-align:center;display:inline-block">
    <a>@Html.ActionLink("Pop Up","PatnerwithUs","Admin",new{r=@ViewBag.Number})</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
