@model IEnumerable<WebApplication8.Models.PatnerwithUs>

@{
    ViewData["Title"] = "PatnerwithUs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["heading"] = "Patners Form";
}


<p style="border:1px solid green ; border-radius:2px 2px 2px 2px;width:10vw;padding:0.5vw;background:#fff;text-align:center">
    @Html.ActionLink("Contact Form","FormData","Admin",new{r=@ViewBag.Number})
    
</p>



<table class="table" style="background:#fff">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var N = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @N
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company)
                </td>
                
            </tr>
            N++;
        }
    </tbody>
</table>
