
@{
     
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/stylepanel.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    
    <script src="https://cdn.tiny.cloud/1/YOUR_API_KEY/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/adminmain.js"></script>

</head>
<body>
    <header style="background:#edadad">

        <div class="logosec">
           
            <img src="~/image/logo.webp" class=" menuicn" style="height:7vh"
                 id="menuicn"
                 alt="menu-icon" />
                 
        </div>
        <h3 style="margin-left:22vw; margin-top:0.5vh;opacity: 0.6">@ViewBag.heading</h3>
        <div class="searchbar">
            <input type="text"
                   placeholder="Search">
            <div class="searchbtn">
                <img src="~/image/Searchicon.png"
                     class="icn srchicn"
                     alt="search-icon">
            </div>
        </div>

        <div class="message">
            <div class="circle"></div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png"
                 class="icn"
                 alt="">
            <div class="dp">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
                     class="dpicn"
                     alt="dp">
            </div>
        </div>

    </header>
    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav" style="background:#e2d0d0">
                <div class="nav-upper-options">
                    <a href="@Url.Action("Dashboard", "Admin" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                        <div class="nav-option option1">
                            <img src="~/image/dashboard.png"
                                    class="nav-img"
                                    alt="dashboard">
                            <h3 style="font-size:1rem">Dashboard</h3>

                        </div>
                    </a>
                    
                    <a href="@Url.Action("Articles", "Admin" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                       <div class="option2 nav-option">
                          <img src="~/image/blog.png"
                             class="nav-img"
                             alt="articles">
                            <h3 style="font-size:1rem">Articles</h3>
                       </div>       
                    </a>

                    <a href="@Url.Action("Tittle", "Admin" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                        <div class="nav-option option3">
                            <img src="~/image/title.png"
                                 class="nav-img"
                                 alt="report">
                            <h3 style="font-size:1rem">Tittle</h3>
                        </div>
                    </a>

                    <a href="@Url.Action("Inbox", "Email" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                        <div class="nav-option option5">
                            <img src="~/image/Mail.png"
                                 class="nav-img"
                                 alt="blog">
                            <h3 style="font-size:1rem">Inbox</h3>
                        </div>
                    </a>
                    
                    <a href="@Url.Action("FormData", "Admin" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                        <div class="nav-option option6">
                            <img src="~/image/Form.png"
                                 class="nav-img"
                                 alt="settings">
                            <h3 style="font-size:1rem">FormData</h3>
                        </div>
                    </a>

                    <a href="@Url.Action("Logout", "Admin" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                        <div class="nav-option logout">
                            <img src="~/image/metaTag.png"
                                 class="nav-img"
                                 alt="logout">
                            <h3 style="font-size:1rem">MetaTags</h3>
                        </div>
                    </a>
                    <a href="@Url.Action("Logout1", "Admin" ,new{r=@ViewBag.Number})" style="text-decoration:none">
                    <div class="nav-option logout">
                        <img src="~/image/logout.png"
                             class="nav-img"
                             alt="logout">
                        <h3 style="font-size:1rem">Logout</h3>
                    </div>
                    </a>

                </div>
            </nav>
        </div>
        <div class="main" style="background:#f9eded">
            @RenderBody()
        </div>
        <footer style="text-align:center">
            <div>version : 1.0.0.1</div>
        </footer>
    </div>
       
    
</body>
</html>
