@{
    
    // Use currentUrl as needed
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/icofont.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="~/image/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="alternate" hreflang="x-default" href="https://anantya.ai" />
    <link rel="alternate" hreflang="en-ae" href="https://anantya.ai" />
    <link rel="alternate" hreflang="en-sa" href="https://anantya.ai" />
    <!-- anup meta tags and schema -->
    
    <title>@ViewBag.Title</title>
    @if (ViewBag.Check == true)
    {
        <meta name="robots" content="no index,no follow" />
    }
    else
    {
        <meta name="robots" content="index,follow" />
    }
    <meta name="description"
          content="@ViewBag.Meta">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
          content="@ViewBag.Meta" />
    <meta property="og:url" content="@ViewBag.currentUrl"  />
    <meta property="og:site_name" content="anantya.ai" />
    <meta property="og:image" content="https://anantya.ai/image/main-page-graphics.webp" />
    <link rel="canonical" href="@ViewBag.currentUrl" />
    <meta name="author" content="Anantya">

    <script type="application/ld+json">

        @Html.Raw(@ViewBag.Schema)
           
            </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX45B45C" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Page-wrapper-Start -->
    <div class="page_wrapper">
        <div id="preloader">
            <div id="loader"></div>
        </div>
        @if (@ViewBag.Index == 0)
        {
            <div id="header-top11" class="header-top d-sm-none d-md-block d-none d-lg-block">
                <div class="headline text-center">
                    Connect with customers globally, online or offline, through swift and
                    personalized bulk SMS solutions. <span>
                        &nbsp; <a href="https://telkosh.com/" type="button" class="head_button" target="_blank">Explore Now</a>
                    </span>
                </div>
                <div id="225" class="close-button" onclick="Recat()">&#10006;</div>
            </div>
        }
        <header>

            <div class="container px-md-0 px-2">

                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/image/logo.webp" class="img-fluid" alt="logo-image">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">

                            <div class="toggle-wrap">
                                <span class="toggle-bar"></span>
                            </div>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <!-- secondery menu start -->
                            <!-- <li class="nav-item has_dropdown">
                              <a class="nav-link" href="index.html">Home</a>

                            </li> -->
                            <!-- secondery menu end -->

                            <li class="nav-item has_dropdown">
                                <a class="nav-link" href="">Platform</a>
                                <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
                                <div class="sub_menu2 row pt-3  text-left">
                                    <div class="col-md-6 col-sm-12  pl-md-3 p-0">
                                        <span class="pl-2 font-weight-bold">Features</span>
                                        <ul class="p-2">
                                            <li>@Html.ActionLink("Live Agent Assistant","liveagentsupport","Home",new{ })</li>
                                            <li>@Html.ActionLink("WhatsApp Broadcasting","WhatsAppBroadcasting","Home",new{})</li>
                                            <li>@Html.ActionLink("Reports & Analytics","ReportsAnalytics","Home",new{})</li>
                                            <li>@Html.ActionLink("Automated ChatBot","AutomatedChatBot","Home",new{})</li>
                                            <li>@Html.ActionLink("Conversational Marketing","ConversationalMarketing","Home",new{})</li>
                                            <li>@Html.ActionLink("Auto-Segregation","AutoSegregation","Home",new{})</li>


                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-12 p-0">
                                        <span class="pl-2 font-weight-bold">Integrations</span>
                                        <ul class="p-2">

                                            <li>@Html.ActionLink("App Marketing","AppMarketing","Home",new{})</li>

                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item has_dropdown">
                                <a class="nav-link" href="">Solution</a>
                                <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
                                <div class="sub_menu2 row pt-3  text-left">
                                    <div class="col-md-6 col-sm-12 pl-md-3 p-0  ">

                                        <span class="pl-2 font-weight-bold">By Use-Cases</span>
                                        <ul class="p-2">
                                            <li>@Html.ActionLink("WhatsApp Marketing","WhatsAppMarketing","Home",new{})</li>
                                            <li>@Html.ActionLink("Whatsapp Commerce","WhatsappCommerce","Home",new{})</li>
                                            <li>@Html.ActionLink("Whatsapp Support","WhatsappSupport","Home",new{})</li>
                                            <li>@Html.ActionLink("Whatsapp Authentication","WhatsappAuthentication","Home",new{})</li>



                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-12 p-0">
                                        <span class="pl-2 font-weight-bold">By Industry</span>
                                        <ul class="p-2">
                                            <li>@Html.ActionLink("Ecommerce & Retail","EcommerceRetail","Home",new{})</li>
                                            <li>@Html.ActionLink("Healthcare","Healthcare","Home",new{})</li>
                                            <li>@Html.ActionLink("Ed-Tech","EdTech","Home",new{})</li>
                                            <li>@Html.ActionLink("Banking & BFSI","BankingBFSI","Home",new{})</li>
                                            <li>@Html.ActionLink("Media & entertainment","Mediaentertainment","Home",new{})</li>
                                            <li>@Html.ActionLink("Food & Beverage","FoodBeverage","Home",new{})</li>
                                            <li>@Html.ActionLink("Travel & Hospitality","TravelHospitality","Home",new{})</li>
                                        </ul>
                                    </div>
                                </div>


                            </li>

                            <li class="nav-item has_dropdown">
                                <a class="nav-link" href="">Company</a>
                                <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
                                <div class="sub_menu">
                                    <ul>
                                        <li>@Html.ActionLink("About Us","AboutUs","Home",new{})</li>
                                        <li>@Html.ActionLink("Work With Us","WorkWithUs","Home",new{})</li>
                                        <li>@Html.ActionLink("Partner With Us","PartnerWithUs","Home",new{})</li>
                                        <!-- <li><a href="testimonial.html">Testimonial</a></li> -->
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item has_dropdown">
                                <a class="nav-link" href="#Resources">Resources</a>
                                <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
                                <div class="sub_menu">
                                    <ul>
                                        <li>@Html.ActionLink("Blog","Blog","Home",new{})</li>
                                        <li>@Html.ActionLink("Contact Us","ContactUs","Home",new{})</li>
                                        <li>@Html.ActionLink("Knowledge Center","KnowledgeCenter","Home",new{})</li>
                                        <!-- <li><a href="help-center.html">Help Center</a></li>
                                        -->
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item mx-md-3 mx-0">


                                <a class="login_button nav-link" data-toggle="modal" title="login" target="_blank"
                                   style="border-width:1px;" data-target="#exampleModalLong">Login</a>



                            </li>
                            <!-- <li class="nav-item ml-2">
                              <a class="signup_button  nav-link" href="#login" title="Get In Touch" style="border-width:1px;">Signup</a>


                            </li> -->
                            <!-- <li class="nav-item">
                              <a class="nav-link dark_btn" href="#getstarted">GET STARTED</a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
                <!-- navigation end -->
            </div>
            <!-- container end -->
        </header>
    <div>
        @RenderBody()
    </div>
        <!-- Footer-Section start -->
        <footer>
            <!-- section bg -->

            <div class="top_footer" id="contact">
                <!-- container start -->
                <div class="container">
                    <!-- row start -->
                    <div class="row">
                        <!-- footer link 1 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="abt_side">
                                <div class="logo"> <a href="index.html"> <img src="~/image/logo.webp" alt="logo-footer-image"></a></div>
                                <ul>
                                    <li><a href="mailto:info@anantya.ai">info@anantya.ai</a></li>

                                    <li><a href="tel:+971 56 548 0273">+971 56 548 0273</a></li>
                                </ul>
                                <ul class="social_media">
                                    <li>
                                        <a href="https://www.facebook.com/anantyaai" target="_blank"><i class="icofont-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/anantya-ai/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/anantya.ai/" target="_blank">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.com/anantyaai" target="_blank">
                                            <i class="icofont-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- footer link 2 -->
                        <div class="col-lg-3 col-md-6 col-12 ">
                            <div class="links">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>@Html.ActionLink("Index","Index","Home",new{})</li>
                                    <li>@Html.ActionLink("About","AboutUs","Home",new{})</li>
                                    
                                    
                                    <li>@Html.ActionLink("Knowledge Center","KnowledgeCenter","Home",new{})</li>
                                    <!-- <li><a href="blog.html">Blog</a></li> -->
                                    <li>@Html.ActionLink("Contact","ContactUs","Home",new{})</li>
                                    <li><a href="#">Login</a></li>
                                    <li>@Html.ActionLink("Start a Free Demo","ContactUs","Home",new{})</li>
                                </ul>
                            </div>
                        </div>

                        <!-- footer link 3 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="links">
                                <h3>Platform</h3>
                                <ul>
                                    <li>@Html.ActionLink("Live Agent Assistant","liveagentsupport","Home",new{})</li>
                                    <li>@Html.ActionLink("WhatsApp Broadcasting","WhatsAppBroadcasting","Home",new{})</li>
                                    <li>@Html.ActionLink("Reports & Analytics","ReportsAnalytics","Home",new{})</li>
                                    <li>@Html.ActionLink("Automated ChatBot","AutomatedChatBot","Home",new{})</li>
                                    <li>@Html.ActionLink("Conversational Marketing","ConversationalMarketing","Home",new{})</li>
                                    <li>@Html.ActionLink("Auto-Segregation","AutoSegregation","Home",new{})</li>
                                </ul>
                            </div>
                        </div>

                        <!-- footer link 4 -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="links">
                                <h3>Solution</h3>
                                <ul>
                                    <li>@Html.ActionLink("WhatsApp Marketing","WhatsAppMarketing","Home",new{})</li>
                                    <li>@Html.ActionLink("Whatsapp Commerce","WhatsappCommerce","Home",new{})</li>
                                    <li>@Html.ActionLink("Whatsapp Support","WhatsappSupport","Home",new{})</li>
                                    <li>@Html.ActionLink("Whatsapp Authentication","WhatsappAuthentication","Home",new{})</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>

            <!-- last footer -->
            <div class="bottom_footer">
                <!-- container start -->
                <div class="container">
                    <!-- row start -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>© 2023 anantya.ai All Rights Reserved.</p>
                        </div>

                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>

            <!-- go top button -->
            <div class="go_top">
                <span><img src="~/image/go_top.webp" alt="go-top-image"></span>
            </div>
        </footer>
        <!-- Footer-Section end -->
        <!-- WhatsApp ChatFlow Button -->
        <a href="https://wa.link/63wpvl" class="whatsapp-button" target="_blank">
            <div class="whatsapp-btn">
                <!-- <i class="fab fa-whatsapp"></i> -->
                <img src="~/image/WhatsApp.webp" class="img-fluid" alt="whatsapp-image">
                <span class="chat-text"> Chat with us</span>
            </div>
        </a>

        <!-- WhatsApp ChatFlow Popup -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title title_Demo text-center ml-auto font-weight-bold" id="exampleModalLabel">
                            Start Your Free trial

                        </h3>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section class="v5-sidehugform " id="sidehugForm">

                            <!-- <p class="subheading text-center">Everything you need to grow your business on WhatsApp</p> -->
                            <div class="wrapper img-top row py-4">

                                <div class="form-wrapper col-md-6 col-12 my-auto px-4">
                                    <section class="styles-module_wrapper__znzC7">
                                        <div class="styles-module_SalesforceForm__lpL7s customClass SalesforceForm px-4" id="">
                                            <h4 class="subheading text-center pb-3"> <b>Everything you need to grow your business  on whatsApp</b></h4>
                                            <p class=" text-center">Get ready to see how Anantya.ai can help your business to engage your customers on WhatsApp.</p>

                                            <div class="form-group field field-object text-left d-none">
                                                <form action="https://formspree.io/f/mdorezev" method="POST">

                                                    <label class="control-label text-left" for="name">
                                                        Your Name<span class="required">*</span>
                                                    </label>

                                                    <input type="text" name="Name" class="form-control" id="name" placeholder="Enter your name">

                                                    <label class="control-label text-left" for="name">
                                                        Business Email<span class="required">*</span>
                                                    </label>
                                                    <input type="email" name="email" class="form-control" id="email"
                                                           placeholder=" Enter Your business email">

                                                    <label class="control-label text-left" for="name">
                                                        Company Name<span class="required">*</span>
                                                    </label>
                                                    <input type="text" name="company" class="form-control" id="company"
                                                           placeholder="Enter your company name">

                                                    <label class="control-label" for="root_00N5g00000OZ5f1">
                                                        Country<span class="required">*</span>
                                                    </label>
                                                    <input type="text" id="root_00N5g00000OZ5f1" class="form-control" name="country" id="country"
                                                           placeholder="Enter your Country name">

                                                    <label class="control-label text-left" for="name">
                                                        Phone Number<span class="required">*</span>
                                                    </label>
                                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number*">


                                                    <div class="mt-3 text-md-left text-center">
                                                        <input type="submit" class="px-5 py-2 login_button" value="Submit">
                                                    </div>

                                                </form>

                                            </div>
                                            <form class="pb-4 pt-2">
                                                <div class="user-box text-center  row px-5 my-auto ">
                                                    <input data-id="LoginPage_TeamId" id="LoginPage_TeamId" class="form-control form-control-lg col-9 w-75"
                                                           data-minlength="5" type="text" required="required" placeholder=" my company" onChange="validtxt()">
                                                    <span class="col-3 ml-0  my-auto"><strong>.anantya.ai</strong></span>
                                                    <p class="mx-auto pt-3" style="color:#ee5639;">  xyz.anantya.ai</p>
                                                </div>
                                                <!-- <p>Forgot Account Name?</p> -->
                                                <a type="button" class="login_button nav-link w-25 mx-auto p-2 " href="#" title="Proceed" target="_blank"
                                                   onclick="proceed()" style="border-width:1px;">Proceed</a>
                                            </form>

                                        </div>
                                    </section>
                                </div>
                                <div class="img-wrapper col-md-6 col-12 text-center pr-5 my-auto d-sm-none d-md-block d-none d-lg-block">
                                    <img src="image/freetrial-2.webp" class="img-fluid w-75" alt="modal-image">
                                </div>
                            </div>
                        </section>

                    </div>

                </div>
            </div>
        </div>
        <!-- DFGBJ -->
        <!-- Modal Ends Here-->
        <!-- login popup -->

        <div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
             aria-hidden="true">
            <div class="modal-dialog login_Popup modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="~/image/favicon.webp" class="img-fluid" alt="favicon">
                        <h4 class="modal-title title_Demo text-center " id="exampleModalLongTitle">Setup your Custom Sub-Domain</h4>
                        <p class="px-5 pt-1">
                            Choose a name that aligns with your business to access the anantya.ai platform.
                        </p>
                        <form class="pb-4 pt-2">
                            <div class="user-box text-center  row px-5 my-auto pb-4">
                                <input data-id="LoginPage_TeamId" id="LoginPage_TeamId" class="form-control form-control-lg col-9 w-75"
                                       data-minlength="5" type="text" required="required" placeholder=" my company">
                                <span class="col-3 ml-0 p-0 my-auto"><b>.anantya.ai</b></span>


                            </div>


                            <p>Forgot Account Name?</p>

                            <a type="button" class="login_button nav-link w-25 mx-auto p-2 " href="#" title="Sign In" target="_blank"
                               onclick="proceed()" style="border-width:1px;">Proceed</a>

                            <!-- <a class="login_button nav-link w-50 mx-auto p-2" href="#" title="Sign In" target="_blank"
                            style="border-width:1px;">Proceed</a> -->

                        </form>


                    </div>


                </div>
            </div>
        </div>
        <!-- login popup -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title title_Demo  ml-auto font-weight-bold" id="exampleModalLabel">
                            Interested in Working With Us?
                        </h3>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section class="v5-sidehugform " id="sidehugForm">



                            <div class="wrapper img-top ">

                                <div class="form-wrapper  col-12 pr-5">
                                    <section class="styles-module_wrapper__znzC7">
                                        <div class="styles-module_SalesforceForm__lpL7s customClass SalesforceForm"
                                             id="">
                                            <form class="rjsf" id="firstscroll_modalform_requestademo" novalidate="">
                                                <div class="panel panel-danger errors">
                                                    <div class="panel-heading">
                                                    </div>

                                                </div>
                                                <div class="form-group field field-object">
                                                    <fieldset id="root">
                                                        <div class="form-group field field-string field-error has-error has-danger last_name">
                                                            <label class="control-label text-left"
                                                                   for="root_last_name">
                                                                Your
                                                                Name<span class="required">*</span>
                                                            </label><input class="form-control" id="root_last_name"
                                                                           label="Your Name" required=""
                                                                           placeholder="Enter your name" type="text" value="">
                                                            <div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group field field-number field-error has-error has-danger mobile">
                                                            <label class="control-label text-left"
                                                                   for="root_phone">
                                                                Phone No<span class="required">*</span>
                                                            </label><input class="form-control" id="root_phone" label="Phone No"
                                                                           required="" placeholder="Enter your phone number"
                                                                           type="tel" value="">
                                                            <div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group field field-string field-error has-error has-danger email">
                                                            <label class="control-label text-left" for="root_email">
                                                                Email<span class="required">*</span>
                                                            </label><input class="form-control" id="root_email"
                                                                           label="Business Email" required=""
                                                                           placeholder="Enter your  email" type="email" value="">
                                                            <div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group field field-string field-error has-error has-danger country">
                                                            <label class="control-label"
                                                                   for="root_00N5g00000OZ5f1">
                                                                Country<span class="required">*</span>
                                                            </label><select id="root_00N5g00000OZ5f1" class="form-control"
                                                                            required="">
                                                                <option value="">Select</option>
                                                                <option value="Afghanistan">Afghanistan</option>
                                                                <option value="Aland Islands">Aland Islands</option>
                                                                <option value="Albania">Albania</option>
                                                                <option value="Algeria">Algeria</option>
                                                                <option value="American Samoa">American Samoa</option>





                                                            </select>
                                                            <div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group field field-string field-error has-error has-danger country">
                                                            <label class="control-label text-left"
                                                                   for="root_last_name">
                                                                Job Position:<span class="required">*</span>
                                                            </label><input class="form-control" id="root_last_name"
                                                                           label="Your Name" required="" placeholder="" type="text"
                                                                           value="" required>
                                                            <div>
                                                                <div>
                                                                </div>
                                                            </div>
                                                            <div>




                                                                <label class="pt-3" for="cv">Upload CV:</label>
                                                                <input type="file" id="cv" name="cv"
                                                                       accept=".pdf,.doc,.docx" required>


                                                            </div>



                                                            <div class="text-center">
                                                                <button class="login_button mt-2 px-2">Submit</button>

                                                            </div>


                                                    </fieldset>
                                                </div>

                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("Script", required:false)
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>

    @{
        var srcs = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js";
    }
    <script type="text/javascript" src= @srcs
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/64c0e2f1cc26a871b02b4f67/1h68nd145';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
   
    
    <!--End of Tawk.to Script-->
</body>
</html>
