
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    ViewData["Check"] = @ViewBag.Check;
    ViewData["Schema"] = @ViewBag.Schema;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<section class="banner_section pt-0">
    <div class="container pt-md-5  mt-md-5 pt-0 mt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">

                    <span class="tagline">
                        Auto Segregation
                    </span>
                    <h1>
                        Effortless operations for

                        <span>
                            Enhanced Productivity
                        </span>
                    </h1>

                    <p class="py-2">
                        Say goodbye to the tiresome job of going through requests
                        and figuring out who should handle them. Takes care of everything by
                        automatically sending each ticket to the best person for the job.


                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Request Demo
                            </button>


                        </div>
                    </form>
                </div>



                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/auto-segregation-homepage.webp" class="img-fluid" alt="auto-segregation">

            </div>
        </div>
        <!-- row end -->
    </div>
</section>
<!-- Banner-Section-end -->
<!-- Trusted Section start -->
<section class="row_am trusted_section pt-5 d-sm-none d-md-block d-none d-lg-block">

    <div class="container">
        <div class="section_title pt-2" data-aos="fade-up">

            <h2>Stay organized and maintain focus effortlessly <br><span>with Auto-Assign</span></h2>

        </div>



    </div>

</section>
<section class="img-tab-section px-md-0 px-2 d-sm-none d-md-block d-none d-lg-block">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row">
                    <div class="tab-img-section-main my-auto col-lg-6 col-md-6 col-sm-12" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/stay-organized-and-maintain-focus-effortlessly-with-auto-assign.webp"
                                     class="img-fluid" alt="stay-organized-and-maintain-focus-effortlessly-with-auto-assign">
                            </div>
                        </section>

                    </div>
                    <div id="tab-links" class="accordion tab-accordian-section col-lg-6 col-md-6 col-sm-12 pt-3">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5>Effortlessly Streamline Workflows with Auto-Assign</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        With Auto-Assign, you can wave goodbye to the chaos of manual ticket allocation. This powerful
                                        feature automatically
                                        assigns each ticket to the right team member, ensuring a seamless flow of work.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Maximize Response and Resolution Speeds</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        By automatically directing tickets to the most suitable team members, you eliminate the risk of
                                        misallocation or overlooked requests.
                                        This means quicker response times, faster resolutions, and happier customers.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                            href="#tab-3">
                                        <h5>Prioritize Customer Satisfaction</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Auto-Assign ensures that no ticket goes unnoticed or unattended, preventing potential
                                        escalations.
                                        By promptly assigning tickets to the right team members, you can provide swift and effective
                                        resolutions,
                                        resulting in delighted customers and a strong reputation for your business.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5>Optimize Resource Utilization with Auto-Assign</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        It ensures that each member is assigned tasks that
                                        align with their expertise and availability. This leads to a balanced workload distribution,
                                        reducing the chances of burnout and increasing overall team satisfaction.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends -->
<!-- Trusted Section start -->
<section class="row_am trusted_section pt-5 d-none d-sm-block d-md-none  d-block">

    <div class="container">
        <div class="section_title" data-aos="fade-up">

            <h2>Stay organized and maintain focus effortlessly <br><span>with Auto-Assign</span></h2>

        </div>
    </div>

</section>
<section class="img-tab-section px-md-0 px-2 d-none d-sm-block d-md-none  d-block">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row">
                    <div id="tab-links" class="accordion tab-accordian-section col-lg-6 col-md-6 col-sm-12 ">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5>Effortlessly Streamline Workflows with Auto-Assign</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        With Auto-Assign, you can wave goodbye to the chaos of manual ticket allocation. This powerful
                                        feature automatically
                                        assigns each ticket to the right team member, ensuring a seamless flow of work.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Maximize Response and Resolution Speeds</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        By automatically directing tickets to the most suitable team members, you eliminate the risk of
                                        misallocation or overlooked requests.
                                        This means quicker response times, faster resolutions, and happier customers.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                            href="#tab-3">
                                        <h5>Prioritize Customer Satisfaction</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Auto-Assign ensures that no ticket goes unnoticed or unattended, preventing potential
                                        escalations.
                                        By promptly assigning tickets to the right team members, you can provide swift and effective
                                        resolutions,
                                        resulting in delighted customers and a strong reputation for your business.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5>Optimize Resource Utilization with Auto-Assign</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        It ensures that each member is assigned tasks that
                                        align with their expertise and availability. This leads to a balanced workload distribution,
                                        reducing the chances of burnout and increasing overall team satisfaction.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-img-section-main my-auto col-lg-6 col-md-6 col-sm-12 pt-3" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/food-services.webp" class="img-fluid" alt="food-service">
                            </div>
                        </section>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends -->
<section style="background-color: #f5c11629;">
    <div class="section_title py-5 " data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>Power Pack <span> Features</span></h2>
        <div class="container">
            <div class="industry ">
                <div class="">
                    <ul id="Auto-Segregation_Slider"
                        class=" owl-carousel owl-theme nav nav-tabs hidden-sm nav nav-pills mobile_scroller justify-content-center p-0 pt-3 border-0"
                        id="myTabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab16" data-bs-toggle="tab" href="#pane16">
                                <p>
                                    Auto Assign
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab17" data-bs-toggle="tab" href="#pane17">
                                <p>Auto Label</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab18" data-bs-toggle="tab" href="#pane18">
                                <p>
                                    Chat Assign
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab19" data-bs-toggle="tab" href="#pane19">
                                <p>Pick Up Chat</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab20" data-bs-toggle="tab" href="#pane20">
                                <p>Filter Chats</p>
                            </a>
                        </li>

                    </ul>



                </div>

                <div class="tab-content py-3">
                    <div class="tab-pane fade tab_content show active py-md-0 py-3 mx-md-0 " id="pane16">
                        <div class="row px-md-4 px-4 py-md-3 py-0">
                            <div class="col-md-6 col-sm-12 pr-md-5 text-center py-md-0 py-3">
                                <img src="~/image/auto-assign.webp" class="img-fluid" alt="auto-assign">
                            </div>
                            <div class="col-md-6 col-sm-12 my-auto px-md-5  border-grey-right text-left">
                                <h2 class="pb-2 font-weight-bold">Auto Assign for Smoother Workflows</span></h2>
                                <p class="pb-2 text-justify">
                                    No more manual assigning! Experience optimized productivity as tasks seamlessly reach the right
                                    team
                                    members.
                                    Increase efficiency, streamline workflows, and ensure a smooth operation for your business.
                                </p>

                                <button type="button" class="button_start  font-weight-bold text-capitalize">
                                    @Html.ActionLink("Know more","ContactUs","Home",new{})
                                </button>

                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0 " id="pane17">
                        <div class="row px-md-4 px-4 py-md-4  py-2">
                            <div class="col-md-6 col-sm-12 pr-md-5  text-center py-md-0  py-3">
                                <img src="~/image/auto-label.webp" class="img-fluid " alt="auto-label">
                            </div>
                            <div class="col-md-6 col-sm-12 my-auto px-md-5  border-grey-right text-left">

                                <h2 class="pb-2 font-weight-bold">Organize with Ease: Auto Label for Chat Management</h2>
                                <p class="pb-2 text-justify">
                                    Simplify chat organization and retrieval with Auto Label. Watch as your chats are automatically
                                    categorized and labeled based on topics, customers, or projects.
                                </p>
                                <button type="button" class="button_start  font-weight-bold text-capitalize">
                                    @Html.ActionLink("Know more","ContactUs","Home",new{})
                                </button>


                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0" id="pane18">
                        <div class="row px-md-4 px-4 py-md-4  py-2">
                            <div class="col-md-6 col-sm-12 pr-md-5  text-center py-md-0  py-3">
                                <img src="~/image/chat-assign.webp" class="img-fluid" alt="chat-assign">
                            </div>
                            <div class="col-md-6 col-sm-12 my-auto px-md-5  border-grey-right text-left">
                                <h2 class="pb-2 font-weight-bold">Seamless Collaboration: Chat Assign for Team Efficiency</h2>
                                <p class="pb-2 text-justify">
                                    Easily assign and distribute chat responsibilities among your team
                                    members. Ensure that every chat
                                    is handled promptly and by the most suitable agent, resulting in faster response times.
                                </p>

                                <button type="button" class="button_start  font-weight-bold text-capitalize">
                                    @Html.ActionLink("Know more","ContactUs","Home",new{})
                                        Know More
                                    </a>
                                </button>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0 " id="pane19">
                        <div class="row px-md-4 px-4 py-md-4  py-2">
                            <div class="col-md-6 col-sm-12  pr-md-5  text-center py-md-0  py-3">
                                <img src="~/image/pick-up-chat.webp" class="img-fluid" alt="pick-up-chat">
                            </div>
                            <div class="col-md-6 col-sm-12 my-auto px-md-5 border-grey-right text-left">
                                <h2 class="pb-2 font-weight-bold">Real-Time Support: Pick Up Chat for Instant Engagement</h2>

                                <p class="pb-2 text-justify">
                                    Be responsive and provide real-time support with Pick Up Chat. Agents
                                    can
                                    pick up and handle incoming chats, ensuring that no customer inquiry is left unanswered.
                                </p>

                                <button type="button" class="button_start  font-weight-bold text-capitalize">
                                    @Html.ActionLink("Know more","ContactUs","Home",new{})
                                </button>

                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0" id="pane20">
                        <div class="row px-md-4 px-4 py-md-4  py-2">
                            <div class="col-md-6 col-sm-12 pr-md-5  text-center py-md-0  py-3">
                                <img src="~/image/filter-chat.webp" class="img-fluid" alt="filter-chat">
                            </div>

                            <div class="col-md-6 col-sm-12 my-auto px-md-5 border-grey-right text-left">
                                <h2 class="pb-2 font-weight-bold">
                                    Instant Access: Filter Chats for Quick Navigation
                                </h2>

                                <p class="pb-2 text-justify">

                                    Effortlessly navigate through your chat history by applying filters
                                    to find specific conversations instantly. Prioritize urgent queries, focus on important
                                    discussions,
                                    and optimize your communication workflow.

                                </p>

                                <button type="button" class="button_start  font-weight-bold text-capitalize">
                                    @Html.ActionLink("Know more","ContactUs","Home",new{})
                                </button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- Features-Section-Start -->
<section class="py-5" id="">
    <div class="container px-md-0 px-4">
        <div class="row pt-5">
            <div class="col-md-6   col-lg-6 col-sm-12 my-auto">
                <h2><b>Streamline, Organize, and Locate: Simplify Chats with WhatsApp Business Labels!</b></h2>


                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Streamline Communication: WhatsApp Business Labels categorize and organize
                            chats for efficient management and quick access to the right information.
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Efficient Customer Service: Labels accelerate responses by categorizing requests,
                            ensuring prompt assignment to the appropriate team member for faster resolution.


                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Organized Workflows: Labels act as directional markers, arranging chats based on topics,
                            projects, or customers, optimizing workflows and ensuring seamless task management.
                        </span>
                    </li>

                </ul>
                <button type="button" class="button_start  font-weight-bold text-capitalize">
                    @Html.ActionLink("Know more","ContactUs","Home",new{})
                </button>

            </div>
            <div class=" col-lg-6  col-md-6 col-sm-12 pt-3">
                <img src="~/image/streamline-organize-and-locate.webp" class="img-fluid" alt="streamline-organize-and-locate">

            </div>

        </div>
    </div>


</section>
<!-- /anantya ai -->
<section class="row_am interface_section">
    <!-- container start -->
    <div class="container py-md-5 py-0">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

            <h2>
                Engage and convert with our
                <br><span>AI-powered platform.</span>
            </h2>

        </div>

        <div class="row pt-5">
            <div class="col-md-6 col-12 my-auto d-sm-none d-md-block d-none d-lg-block">
                <div class="styles-module_graphics_holder__c27-i styles-module_child_wrap__fxjWi">
                    <img src="~/image/long-baner.webp" height="549" loading="lazy" style="width: 100%; object-fit: contain;"
                         alt="long-baner">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="styles-module_content_holder__-mpu5 styles-module_child_wrap__fxjWi">
                    <div class="styles-module_cards_wrap__M2U7q">
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M23.121,9.069,15.536,1.483a5.008,5.008,0,0,0-7.072,0L.879,9.069A2.978,2.978,0,0,0,0,11.19v9.817a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V11.19A2.978,2.978,0,0,0,23.121,9.069ZM15,22.007H9V18.073a3,3,0,0,1,6,0Zm7-1a1,1,0,0,1-1,1H17V18.073a5,5,0,0,0-10,0v3.934H3a1,1,0,0,1-1-1V11.19a1.008,1.008,0,0,1,.293-.707L9.878,2.9a3.008,3.008,0,0,1,4.244,0l7.585,7.586A1.008,1.008,0,0,1,22,11.19Z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">Break language barriers</h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Deliver multi-lingual support and auto template translation.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                                        </path>
                                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Trust and security
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Ensure clear opt-in requirements, built-in security, and end-to-end encryption.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="52" height="52">
                                        <g id="_01_align_center" data-name="01 align center">
                                            <path d="M21,2H18V0H16V2H8V0H6V2H3A3,3,0,0,0,0,5V24H24V5A3,3,0,0,0,21,2ZM2,5A1,1,0,0,1,3,4H21a1,1,0,0,1,1,1V8H2ZM2,22V10H22V22Z">
                                            </path>
                                            <rect x="15" y="13" width="2" height="2"></rect>
                                            <rect x="11" y="13" width="2" height="2"></rect>
                                            <rect x="7" y="13" width="2" height="2"></rect>
                                            <rect x="15" y="17" width="2" height="2"></rect>
                                            <rect x="11" y="17" width="2" height="2"></rect>
                                            <rect x="7" y="17" width="2" height="2"></rect>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Faster onboarding
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Streamline the process with 50% faster implementation.



                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="#EE5639"
                                         class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                                        <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Ready-to-use templates
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Simplify launches with pre-approved templates for various communication needs.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="52" height="52">
                                        <g id="_01_align_center" data-name="01 align center">
                                            <path d="M23.259,16.2l-2.6-9.371A9.321,9.321,0,0,0,2.576,7.3L.565,16.35A3,3,0,0,0,3.493,20H7.1a5,5,0,0,0,9.8,0h3.47a3,3,0,0,0,2.89-3.8ZM12,22a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,12,22Zm9.165-4.395a.993.993,0,0,1-.8.395H3.493a1,1,0,0,1-.976-1.217l2.011-9.05a7.321,7.321,0,0,1,14.2-.372l2.6,9.371A.993.993,0,0,1,21.165,17.605Z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Engaging communication
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Elevate campaigns with rich media formats for interactive chats.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                                        </path>
                                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Actionable insights
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg">
                                Gain valuable analytics to improve customer service

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- container end -->
</section>
<!-- partner -->
<div class="container py-md-5 py-3  px-md-0 px-3">
    <div class="section_title " data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">

        <h2>
            Seize Opportunities: Empower with Pickup Chat

            <br> <span>
                for Exceptional Support!
            </span>
        </h2>
    </div>
    <div class="row agent">
        <div class=" col-xl-7 col-lg-7 col-md-7 col-sm-12 text-start border-0 border-none pe-5">
            <ul class="nav nav-tabs hidden-sm nav nav-pills  justify-content-center p-0 pt-4" id="myTabs">
                <li class="nav-item ">
                    <a class="nav-link active " id="tab7" data-bs-toggle="tab" style="margin: 0.5rem;" href="#pane7">
                        <h5>Never Miss a Query </h5>
                        <p class="text-justify">
                            The Pickup Chat feature ensures that no query goes unanswered. Incoming messages are automatically
                            transferred to available agents, enabling them to promptly address customer inquiries.

                        </p>
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab8" data-bs-toggle="tab" href="#pane8">
                        <h5>Effortlessly Address Queries</h5>
                        <p class="text-justify">
                            By giving agents the option to accept or ignore new chats, the Pickup Chat feature helps distribute
                            the
                            workload evenly.
                            Agents can prioritize their tasks and focus on resolving one query at a time.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab9" data-bs-toggle="tab" href="#pane9">
                        <h5>
                            Instant Support, Happy Customers
                        </h5>
                        <p class="text-justify">

                            With timely responses to queries, customer satisfaction is significantly enhanced. The Pickup Chat
                            feature allows customers to receive immediate attention and personalized solutions to their needs.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab10" data-bs-toggle="tab" href="#pane10">
                        <h5>
                            Track and Resolve Queries with Ease
                        </h5>
                        <p class="text-justify">

                            The Pickup Chat feature enables efficient tracking of all
                            queries and their status. Administrators can easily identify unaddressed queries and take appropriate
                            actions to ensure timely resolution.


                        </p>
                    </a>
                </li>


            </ul>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 my-auto">
            <div class="tab-content py-5">
                <div class="tab-pane fade tab_content active show my-auto" id="pane7">
                    <img src="~/image/never-miss-a-query.webp" class="img-fluid" alt="never-miss-a-query">
                </div>
                <div class="tab-pane fade tab_content my-auto" id="pane8">
                    <img src="~/image/effortlessly-address-queries.webp" class="img-fluid" alt="effortlessly-address-queries">
                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane9">
                    <img src="~/image/instant-support-happy-customers.webp" class="img-fluid" alt="instant-support-happy-customers">
                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane10">
                    <img src="~/image/track-and-resolve-queries-with-ease.webp" class="img-fluid" alt="track-and-resolve-queries-with-ease">
                </div>


            </div>
        </div>
    </div>




</div>
<!-- How-It-Workes-Section-Start -->
<!--Frequently Asked Questions -->
<section class="container">
    <div class="section_title py-md-5 py-3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion57">


        <div class="" id="CRUELTY FREE">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q1: How does Auto-Assign streamline workflows?</h6>

                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne57"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne57" class="collapse show" aria-labelledby="CRUELTY FREE" data-parent="#accordion57">
            <div class="card-body">
                A1:Auto-Assign eliminates the chaos of manual ticket allocation by automatically assigning each ticket to
                the
                right team member.
                This streamlines the workflow and ensures a seamless flow of work, saving time and improving efficiency.
            </div>

        </div>



    </div>
    <div id="accordion58">
        <div class="" id="SIN FRAGANCIA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q2: What are WhatsApp Business Labels?</h6>
                <button class="btn btn-link col-1" data-toggle="collapse" data-target="#collapseOne58" aria-expanded="true"
                        aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne58" class="collapsing" aria-labelledby="SIN FRAGANCIA" data-parent="#accordion58">
            <div class="card-body">
                A2: WhatsApp Business Labels are a feature that allows businesses to categorize and organize their chats.
                They
                streamline
                communication by providing efficient management and quick access to the right information.


            </div>

        </div>



    </div>
    <div id="accordion100">


        <div class="" id="SIN PROTEÍNAS">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q3: How does the Filter Chats feature work?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne100"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne100" class="collapsing" aria-labelledby="SIN PROTEÍNAS" data-parent="#accordion100">
            <div class="card-body">
                A3: The Filter Chats feature allows you to navigate through your chat history effortlessly. By applying
                filters, you can quickly find specific conversations,
                prioritize urgent queries, and optimize your communication workflow for quick access to relevant
                information.

            </div>
        </div>



    </div>
    <div id="accordion101">


        <div class="" id="SIN COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q4: How do WhatsApp Business Labels improve customer service?

                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne101"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne101" class="collapsing" aria-labelledby="SIN COCO" data-parent="#accordion101">
            <div class="card-body">
                A4: WhatsApp Business Labels accelerate responses by categorizing requests, ensuring prompt assignment to
                the
                appropriate team member for faster resolution. This enhances customer service and improves overall
                efficiency.

            </div>
        </div>



    </div>
    <div id="accordion102">


        <div class="" id="SIN ALOE VERA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q5: What is the Pickup Chat feature?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne102"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne102" class="collapsing" aria-labelledby="SIN ALOE VERA" data-parent="#accordion102">
            <div class="card-body">
                A5: The Pickup Chat feature enables agents to address incoming messages even while handling other chats. It
                ensures no query goes unanswered by
                automatically transferring messages to available agents, providing instant support to customers.



            </div>

        </div>


    </div>


</section>

<!--Frequently Asked Questions -->
