
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    ViewData["Check"] = @ViewBag.Check;
    ViewData["Schema"] = @ViewBag.Schema;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">

    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">

        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">

                <div class="banner_text">
                    <span style="letter-spacing: .2rem;">BFSI</span>

                    <h1>
                        <span>Exceptional Customer Experience: </span>
                        Leverage WhatsApp for Finance & Insurance
                    </h1>

                    <ul class="pb-4">
                        <li>Effortless KYC: Verify IDs, Documents & More</li>
                        <li> 24/7 Customer Support: Instant Responses via WhatsApp</li>
                        <li> Showcase with WhatsApp Storefront: Highlight Your Offerings</li>
                    </ul>

                </div>

                <div class="trial_box">

                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">

                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Get a Live Demo
                            </button>

                        </div>

                    </form>
                </div>
                <!-- Button trigger modal -->
                <!-- Modal -->
            </div>


            <div class="col-lg-6 col-md-6">
                <img src="image/Home-Page-banking.webp.webp" class="img-fluid px-3" alt="banking-industry">

            </div>



        </div>

    </div>

</section>
<!-- Banner-Section-end -->
<!-- hover -->
<div class=" travel py-4">
    <div class="py-4">
        <div class="position-relative mb-4 hJFAtK" style="height:2rem;">
            <div class="w-100 position-absolute top-50 start-50 translate-middle ">

                <ul class=" nav nav-tabs border-0 w-100 hstack justify-content-center position-absolute  top-50 start-50 translate-middle"
                    id="skk-tabs">
                    <li class="nav-item text-center px-md-3 px-2   " role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill active" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab1" data-skk-value="1">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">
                            Digital eKYC
                        </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill " style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab2" data-skk-value="2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2"> Notifications </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab3" data-skk-value="3">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">
                            End-to-End Encryption
                        </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab4" data-skk-value="4">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                                <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                                <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2"> Opt-In and Spam </p>

                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab5" data-skk-value="5">

                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star"
                                 viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">24/7 Support</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" container tab-content p-4">
            <div class="tab-pane animate__animated animate__flipInX active" id="tab1">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="image/Digital-eKYC.webp" class="img-fluid" alt="Digital-eKYC">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">Digital eKYC</h3>
                        <p class="text-justify">
                            Make KYC simple with step-by-step guidance and collecting documents on WhatsApp.
                            Save time and improve completion rates with video KYC available anytime.
                            Make customers happy with smooth onboarding, providing faster access to your services.
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane animate__animated animate__flipInX " id="tab2">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="image/Notifications.webp" class="img-fluid" alt="notification">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">Convey Transactional Notifications: </h3>
                        <p class="text-justify">
                            Use WhatsApp to ensure that customers stay informed about their financial transactions and obligations.
                            It holds the ability to effectively handle
                            straightforward and routine customer inquiries, such as balance inquiries and sending reminders for
                            credit card bill payments.
                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="image/End-to-End-Encryption.webp" class="img-fluid" alt="End-to-End-Encryption">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">End-to-End Encryption: </h3>
                        <p class="text-justify">
                            Incorporate multi-level security options with end-to-end encryption by WhatsApp
                            since the BFSI industry has chosen for digitalization of the process because massive financial frauds
                            take place on a regular basis.
                            Verify yourself before performing cash payment, transactions, or other operations.
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab4">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="image/Opt-In-and-Spam.webp" class="img-fluid" alt="Opt-In-and-Spam">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">User Opt-In and Spam Prevention: </h3>
                        <p class="text-justify">
                            In the BFSI sector, prioritizing the prevention of fraud and spam is absolutely essential in order to
                            cater to consumers effectively.
                            Gaining user consent is a key factor in establishing a professional and secure WhatsApp service
                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab5">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="image/24-7-Support.webp" class="img-fluid" alt="24-7-Support">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">24/7 Customer Support</h3>
                        <p class="text-justify">
                            Offer 24/7 help for all fund-related questions, transactions, and renewals using chatbots. Ensure
                            customer
                            satisfaction by providing quick and accurate responses, enabling hassle-free financial interactions
                            anytime, anywhere.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- hover -->
<!-- pne two three -->
<div class="container">
    <!-- CARD -->
    <section>

        <div class="text-center py-5">

            <h2 class="font-weight-bold"> Empowering FinTech Conversations: Pay, Invest, <br> Engage - All in One Chat!</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4  px-md-0 px-3 pt-4">
                <div class="col my-2 px-5">

                    <div class="card_contact marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-cart-plus"
                             viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z">
                            </path>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z">
                            </path>
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Encourage Repeat Purchases
                                        </h5> -->
                            <p class="card-text  text-center">
                                Enable customers to conveniently pay EMIs, premiums, buy stocks, and
                                make deposits through chat
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-5">

                    <div class="card_contact  marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
                            </path>
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z">
                            </path>
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Application Drop <br> Offs

                                        </h5> -->
                            <p class="card-text  text-center">
                                Boost conversion of payment messages with seamless 1-click bill payment across multiple channels
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-5">

                    <div class="card_contact marketing pt-4 h-100">

                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#ee5639" class="bi bi-credit-card"
                             viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Abandoned Cart Recovery
                                        </h5> -->
                            <p class="card-text text-center">
                                Drive customer engagement with timely alerts, personalized portfolio
                                advice, tailored offers, and product comparisons
                            </p>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </section>
    <!-- CARD -->
    <div class="row align-items-center mb-4 mt-4 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h3 class="font-weight-bold" data-splitting="">
                    <span class="highlight">Onboarding </span> Made Easy: Chat, Verify, Activate - in No Time!
                </h3>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span><span>
                            Simplify the onboarding process by replacing Complex form filling and document
                            collection with effortless chat interactions



                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Facilitate KYC verification, customer onboarding, and activation through
                            messaging, voice, and video. Achieve a significant 26% reduction in onboarding time
                        </span>
                    </li>

                </ul>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="image/Onboarding-Made-Easy.webp" class="img-fluid" alt="Onboarding-Made-Easy">
            </div>
        </div>
    </div>



</div>

<!-- question -->
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <br><br>
            <div class="tab-content py-5" id="myTabContent">
                <!-- list id tabs 1 -->
                <div class="tab-pane  active show faq-body" id="question" role="tabpanel" aria-labelledby="home-tab"
                     style="padding:44px;box-shadow: 0px 0px 20px 6px #e0dfdf59; border-radius: 20px;">

                    <h4 class="text-primary text-center text-main">Frequently Asked Question</h4>
                    <br>
                    <div class="accordion accordion-shared accordion-shared-2" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne_0">
                                <h2 class="mb-0 text-main">
                                    <button class="btn btn-link p-0 collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseOne_0" aria-expanded="false" aria-controls="collapseOne_0">
                                        <p><strong>What is a Finance or Banking Chatbot?</strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne_0" class="collapse show" aria-labelledby="headingOne_0"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A finance or banking chatbot encompasses a spectrum of capabilities, from straightforward,
                                        predefined journeys for common queries to sophisticated AI-driven conversations. These chatbots
                                        are trained on industry-specific
                                        data and scenarios within the banking, financial services, and insurance (BFSI) sector.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapseOne_1"
                                            aria-expanded="true" aria-controls="collapseOne_1">
                                        <p><strong>What are the Benefits of a Finance Chatbot?</strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne_1" class="collapse " aria-labelledby="headingOne_1"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Intuitive and Convenient: A finance chatbot offers customers an intuitive and self-serve channel,
                                        available 24/7, for transactions, advice, and product exploration.
                                        Wide Engagement: With conversational AI, financial service providers can engage customers across
                                        30+ messaging channels, catering to commerce, marketing, and support needs.
                                        Meaningful Digital Experiences: Deliver meaningful digital experiences to customers at scale,
                                        ensuring easy onboarding, accelerated transactions, simplified service requests, and elevated
                                        support quality.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingtwo_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapsetwo_2"
                                            aria-expanded="true" aria-controls="collapsetwo_2">
                                        <p><strong>Q: Can BFSI companies leverage WhatsApp for marketing and promotions? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsetwo_2" class="collapse " aria-labelledby="headingtwo_2"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: Yes, WhatsApp can be utilized for marketing and promotional activities in the BFSI industry.
                                        Companies can share updates about new products, exclusive offers, investment opportunities, and
                                        financial tips to engage customers and nurture leads. However,
                                        it is important to follow WhatsApp's policies and guidelines for marketing purposes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapsefour4"
                                            aria-expanded="true" aria-controls="collapsefour4">
                                        <p><strong>Q: What are some best practices for BFSI companies utilizing WhatsApp? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour4" class="collapse " aria-labelledby="headingfour4"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: To maximize the benefits of WhatsApp, BFSI companies should focus on providing personalized
                                        customer experiences, ensuring timely responses to customer queries, maintaining data privacy,
                                        leveraging automation for routine tasks, and continuously adapting to customer needs and
                                        preferences.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>

</div>
<!-- question -->
<!-- cta -->

<section class="container text-black">
    <div class="mx-md-0 mx-4 py-5 mb-5 fluid_Box" style="border-radius: 25px; ">
        <div class="row my-auto py-4 px-md-5 px-0  mx-0">
            <div class="col-lg-8 col-md-8 col-sm-12 text-capitalize  my-auto">
                <h4 class="">Explore WhatsApp automation for BFSI with anantya.ai</h4>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 my-auto text-md-right text-center mr-0">
                <button class="apply_now">   @Html.ActionLink("Sign Up Today", "ContactUs", "Home", new { })</button>

            </div>
        </div>
    </div>
</section>

<!-- cta -->
