
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    ViewData["Check"] = @ViewBag.Check;
    ViewData["Schema"] = @ViewBag.Schema;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">

    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">

        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">

                <div class="banner_text">
                    <span style="letter-spacing: .2rem;">Ed-Tech</span>

                    <h1>
                        <span> Transform Education with WhatsApp: </span>
                        Enroll, Engage, Empower
                    </h1>

                    <ul class="pb-4">
                        <li>Personalized Reminders for Tests, Fee Payments, Results, and More</li>
                        <li>Accessible, Affordable, and Flexible Education</li>
                        <li>Engaging Chat-Based Conversations for Personalized Learning</li>
                    </ul>

                </div>

                <div class="trial_box">

                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">

                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Get a Live Demo
                            </button>

                        </div>

                    </form>
                </div>
                <!-- Button trigger modal -->
                <!-- Modal -->






            </div>


            <div class="col-lg-6 col-md-6">
                <img src="~/image/Edtech-Home-Page-min.webp" class="img-fluid px-3" alt="edtech-industry">

            </div>



        </div>

    </div>

</section>
<!-- Banner-Section-end -->
<!-- hover -->
<div class=" travel py-4">
    <div class="py-4">
        <!-- <h2 class="text-center">Enhance Student Engagement with  <br>AI Chatbots</h2> -->
        <div class="position-relative mb-4 hJFAtK" style="height:2rem;">
            <div class="w-100 position-absolute top-50 start-50 translate-middle ">

                <ul class=" nav nav-tabs border-0 w-100 hstack justify-content-center position-absolute  top-50 start-50 translate-middle"
                    id="skk-tabs">
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill active"
                                style="width:3rem;height:3rem;" data-bs-toggle="tab" data-bs-target="#tab1" data-skk-value="1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">
                            Teaching Assistants
                        </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill " style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab2" data-skk-value="2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2"> Application Process</p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab3" data-skk-value="3">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">
                            Students Support
                        </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab4" data-skk-value="4">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                                <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                                <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">Virtual Mentoring</p>

                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab5" data-skk-value="5">

                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star"
                                 viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">Collect Feedback </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" container tab-content p-4">
            <div class="tab-pane animate__animated animate__flipInX active" id="tab1">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Teaching-Assistants-min.webp" class="img-fluid" alt="Teaching-Assistants-min">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">Virtual Teaching Assistants</h3>
                        <p class="text-justify">
                            Assist students and educators by answering questions, providing guidance, and
                            offering support on WhatsApp. With WhatsApp, it becomes
                            easier and quicker for students and teachers to communicate and connect with each other.
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane animate__animated animate__flipInX " id="tab2">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Application-Process-min.webp" class="img-fluid" alt="create-your-business">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">Simplify Application Process</h3>
                        <p class="text-justify">
                            Eliminate forms, engage in conversations, and collect data to simplify the process.
                            By collecting data through these conversations, applicants can share information in a more natural and
                            effortless manner, streamlining the overall experience and increasing efficiency.
                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Students-Support-min.webp" class="img-fluid" alt="Students-Support-min">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">Provide Support to Students</h3>
                        <p class="text-justify">
                            Deliver personalized student support, addressing queries and concerns in
                            real-time.
                            This kind of help makes learning easier and encourages students to do well in their studies.
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab4">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Virtual-Mentoring-min.webp" class="img-fluid" alt="Virtual-Mentoring">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold">
                            Virtual Mentoring
                        </h3>
                        <p class="text-justify">

                            AI-powered mentors can provide guidance, career advice, and mentorship to students,
                            offering personalized insights. These mentors use advanced technology to offer tailored insights,
                            helping students make informed decisions and achieve their goals with confidence.

                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab5">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Collect-Feedback-min.webp" class="img-fluid" alt="Collect-Feedback">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto">
                        <h3 class="font-italic font-weight-bold"> Collect Feedback from Students</h3>
                        <p class="text-justify">
                            Collect input from students and parents on WhatsApp for higher response rates.
                            This helps teachers understand what they need and want,
                            so they can make learning better and build better relationships with everyone at school.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- hover -->
<!-- pne two three -->
<div class="container">
    <div class="row align-items-center mb-4 mt-4 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h3 class="font-weight-bold" data-splitting="">
                    Smooth <span class="highlight">Admissions Process: </span> Engage and Connect via WhatsApp Business API

                </h3>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span><span>
                            Engage students in interactive conversations to encourage their admission
                            with ease





                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Utilize a Green Tick Verified account to establish trust and credibility
                            among students
                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Keep students engaged and informed by sharing regular course updates via WhatsApp
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/Smooth-Admissions-Process-min.webp" class="img-fluid" alt="Smooth-Admissions-Process">
            </div>
        </div>
    </div>
    <!-- CARD -->
    <section>

        <div class="text-center py-5">

            <h2 class="font-weight-bold">
                Empowering Students: WhatsApp for Self-Enrollment <br> and Course Preference
            </h2>
            <div class="row row-cols-1 row-cols-md-3 g-4  px-md-0 px-3 pt-4">
                <div class="col my-2 px-5">

                    <div class="card_contact marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-cart-plus"
                             viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z">
                            </path>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z">
                            </path>
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Encourage Repeat Purchases
                                        </h5> -->
                            <p class="card-text  text-center">
                                Enable prospective students to easily download forms, select their
                                desired courses, and indicate their preferred mode of learning and language
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-5">

                    <div class="card_contact  marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
                            </path>
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z">
                            </path>
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Application Drop <br> Offs

                                        </h5> -->
                            <p class="card-text  text-center">
                                Provide convenient access to information about fee structures, scholarships, and other relevant
                                details through a simple and one-click interface
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-5">

                    <div class="card_contact marketing pt-4 h-100">

                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#ee5639" class="bi bi-credit-card"
                             viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Abandoned Cart Recovery
                                        </h5> -->
                            <p class="card-text text-center">
                                Empower students to self-enroll in their preferred courses and select
                                their desired class with ease
                            </p>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </section>
    <!-- CARD -->
    <div class="row align-items-center  px-md-0 px-3 ">
        <div class="col-md-6 col-sm-12 col-12 pr-5">
            <div class="right-wrapper-img">
                <img src="~/image/Learn-with-WhatsApp-min.webp" class="img-fluid" alt="Learn-with-WhatsApp">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pt-md-0 pt-4">
            <div class="left-wrapper-text">
                <h3 class="font-weight-bold data-splitting=">
                    Learn with WhatsApp: Personalized Updates for Your Academic<span class=" highlight"> Success </span>
                </h3>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Keep students informed about their course by regularly updating them on
                            timetables through WhatsApp.
                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Share personalized news, announcements, and reminders with students
                            through automated WhatsApp notifications.
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Deliver tailored study materials directly to students via WhatsApp,
                            ensuring they have timely and relevant resources for their studies.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>

<!-- question -->

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <br><br>
            <div class="tab-content py-5" id="myTabContent">
                <!-- list id tabs 1 -->
                <div class="tab-pane  active show faq-body" id="question" role="tabpanel" aria-labelledby="home-tab"
                     style="padding:44px;box-shadow: 0px 0px 20px 6px #e0dfdf59; border-radius: 20px;">

                    <h4 class="text-primary text-center text-main">Frequently Asked Question</h4>
                    <br>
                    <div class="accordion accordion-shared accordion-shared-2" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne_0">
                                <h2 class="mb-0 text-main">
                                    <button class="btn btn-link p-0 collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseOne_0" aria-expanded="false" aria-controls="collapseOne_0">
                                        <p><strong> Q1: How can educational institutes benefit from using WhatsApp? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne_0" class="collapse show" aria-labelledby="headingOne_0"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: WhatsApp can be a powerful tool for educational institutes to enhance communication,
                                        engagement,
                                        and student support. It allows institutes to connect with students,
                                        share information, provide updates, deliver study materials, and facilitate interactive
                                        discussions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapseOne_1"
                                            aria-expanded="true" aria-controls="collapseOne_1">
                                        <p><strong> Q2: What are some ways educational institutes can leverage WhatsApp? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne_1" class="collapse " aria-labelledby="headingOne_1"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: Educational institutes can leverage WhatsApp in several ways, such as:
                                        Sending important announcements and notifications to students and parents.
                                        Sharing course materials, study resources, and assignment details.
                                        Conducting interactive discussions and Q&A sessions with students.
                                        Offering personalized support and guidance to students through direct messaging.
                                        Facilitating quick and convenient communication between teachers, students, and parents.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingtwo_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapsetwo_2"
                                            aria-expanded="true" aria-controls="collapsetwo_2">
                                        <p><strong> Q3: Can WhatsApp be used for admissions and enrollment processes? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsetwo_2" class="collapse " aria-labelledby="headingtwo_2"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: Absolutely! WhatsApp can simplify and expedite the admissions and enrollment process.
                                        Institutes can:
                                        Share admission forms, prospectuses, and course catalogs via WhatsApp.
                                        Answer prospective students' queries promptly and guide them through the application process.
                                        Conduct interviews, group discussions, and admission-related discussions through WhatsApp.
                                        Collect required documents and information from applicants using WhatsApp.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapsefour4"
                                            aria-expanded="true" aria-controls="collapsefour4">
                                        <p><strong> Q4: Is WhatsApp a secure platform for educational institutes to use? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour4" class="collapse " aria-labelledby="headingfour4"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: While WhatsApp provides end-to-end encryption for messages,
                                        it's essential to ensure that sensitive information is shared responsibly.
                                        Institutes should educate users on data privacy, avoid sharing confidential
                                        information over public groups, and comply with applicable data protection regulations.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>

</div>

<!-- question -->
<!-- cta -->

<section class="container text-black">
    <div class="mx-md-0 mx-4  py-5 mb-5 fluid_Box" style="border-radius: 25px; ">
        <div class="row my-auto py-4 px-md-5 px-0  mx-0">
            <div class="col-lg-8 col-md-8 col-sm-12 text-capitalize  my-auto">
                <h4 class="">
                    Discover how WhatsApp can revolutionize student engagement,
                    streamline communication, and elevate your institution's reputation.
                </h4>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 my-auto text-md-right text-center mr-0">
                <button> @Html.ActionLink("Know More","ContactUs","Home",new{})</button>
            </div>
        </div>
    </div>
</section>

<!-- cta -->

