@model IEnumerable<WebApplication8.Models.BlogPost>
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    ViewData["Check"] = @ViewBag.Check;
    ViewData["Schema"] = @ViewBag.Schema;
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<section class="" style="background: linear-gradient(to left bottom, rgb(245, 193, 22), rgb(238, 86, 60));">
    <div class="container py-5 text-center">
        <div class="row py-5 text-white">
            <div class="col-md-6 col-sm-12">
                <h1 class="font-weight-bold">
                    Anantya Support
                </h1>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm " placeholder="Search support articles">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<!-- knowledge center -->
<section class="box-forhelp">
    <div class="container py-5 text-center">
        <div class="row row-cols-1 row-cols-md-1 g-4 pb-5 px-md-0 px-3">
            @{ var N = 1;}
            @foreach (var item in ViewBag.Support)
            {
                var replacedString = @item.Category.Replace(" ", "-");
            <div class="col my-2">
                <div class="row  m-0 p-0  mt-2 card_anantya_faq">

                    <div class="col-lg-10 col-12 p-md-4 p-0  mr-auto d-flex align-tems-center text-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#ee5639"
                             class="bi bi-file-earmark-medical my-auto" viewBox="0 0 16 16">
                            <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                        </svg>
                            <a href="@Url.Action("KnowlageCentre", "Post" ,new{Url=@replacedString})" class="pl-5">
                                <h5>@N. @item.Category</h5>
                            <p>
                                    @item.Heading
                            </p>


                        </a>
                    </div>

                    <div class="col-lg-2 col-4  p-4 text-right ml-auto  d-sm-none d-md-block d-none d-lg-block">
                        <div class="" id="headingOne">


                            <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                                    </path>
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            N++;
            }
        </div>
    </div>
</section>